<!DOCTYPE html>
<head id="head">
	<meta charset="utf-8"/>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.11/angular.min.js"></script>
	<script type="text/javascript" src="scripts/angular.js"></script>
	<script type="text/javascript" src="scripts/script.js"></script>
	<title>F1 Seasons</title>
</head>
<body  ng-app="myApp" ng-controller="RequestController" >
	<div ng-controller="DriverController as driverC">
	<div id="bg"></div>

	<div class="container-fluid vert-center">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-1"></div>
			<div class="col-xs-12 col-sm-12 col-md-10 white-bg margin-bot">
				<div>
					<div>
						<div class="row">
							<div class="col-md-2 col-sm-12 col-xs-12 max-width">
								<h1>Season:</h1>
							</div>
							<div class="col-md-10 col-sm-12 col-xs-12 select-max-width">
								<select class="custom-select custom-select-lg mb-3" ng-model="selectedSeason" ng-change="requestSeason(selectedSeason)" data-ng-init="requestSeason(selectedSeason)">
									<option ng-repeat="season in seasons" value="{{season}}">{{season}}</option>
								</select>
							</div>
					<div class="col-12 center margin-bot">
						<h2>Details of {{seasonDetails.series.toUpperCase()}} Series: {{selectedSeason}}</h2>
						<h4>More details: <a target="_blank" href="http://en.wikipedia.org/wiki/F1_{{selectedSeason}}">HERE</a></h4>
					</div>
					<div class="col-12">
						<div class="row row-65">
							<div class="col-xs-6 col-sm-6 col-md-6">
								<h3>
									<i class="fas fa-flag-checkered dark-blue"></i>
									Total Races: {{seasonDetails.total}}
								</h3>
							</div>

							<div class="col-xs-6 col-sm-6 col-md-6">
								<h3>
									<i class="fas fa-car dark-blue"></i>
									Total Drivers: {{seasonDrivers.total}}
								</h3>
							</div>

							<div class="col-12 center">
								<h3>
									Season Winner: <a target="_blank" href="{{seasonWinner.Driver.url}}">{{seasonWinner.Driver.givenName}} {{seasonWinner.Driver.familyName}}</a>
								</h3>
							</div>

							<div class="col-12 center">
								<h3>
									Team: <a target="_blank" href="{{seasonWinner.Constructors[0].url}}">{{seasonWinner.Constructors[0].name}}</a>
								</h3>
							</div>

						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-12 margin">
					<button class="btn btn-primary" data-toggle="collapse" data-target="#race-details" ng-click="changeAngle()"><i class="fas fa-angle-{{arrowAngle}}"></i> Round Details <i class="fas fa-angle-{{arrowAngle}}"></i></button>
				</div>
				<div id="race-details" class="col-12 collapse margin" >
					<div class="table-responsive white-bg-opaque">
						<table class="table table-striped table-font">
							<thead>
								<tr class="table-active">
	 								<th scope="col">Round #</th>
	 								<th scope="col">Race Name</th>
	 								<th scope="col">Circuit Name</th>
	 								<th scope="col">Date</th>
									<th scope="col">Season</th>
									<th scope="col"></th>
 								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="race in seasonRaces">
									<th scope="row">{{race.round}}</th>
									<td><a href="{{race.url}}" target="_blank">{{race.raceName}}</a></td>
									<td><a href="{{race.Circuit.url}}" target="_blank">{{race.Circuit.circuitName}}</a></td>
									<td>{{race.date}}</td>
									<td>{{race.season}}</td>
									<td><button class="btn btn-primary" data-toggle="modal" data-target="#race-results" ng-click="driverC.requestRaceResults(race.season, race.round)">Info</button>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-1"></div>
	</div>
</div>
</div>
<div class="loading white-bg center"> Loading Data: {{driverC.loading.toFixed(2)}}% </div>
<div id="race-results" class="modal no-padding">
	<div class="container-fluid white-bg-opaque modal-content">
		<i data-toggle="modal" data-target="#race-results" class="fas fa-times close"></i>
		<div class="center">
			<h1>{{driverC.raceDetails.raceName}}</h1>
			<h4>{{driverC.raceDetails.Circuit.circuitName}}</h4>
		</div>
		<div class="center">
			<h2>Result</h2>
		</div>
		<div class="row">
			<div class="col-12">
		<div class="table-responsive white-bg-opaque">
			<table class="table table-striped table-font center">
				<thead>
					<tr class="table-active">
						<th scope="col">Position</th>
						<th scope="col">Driver</th>
						<th scope="col">Team</th>
						<th scope="col">Laps</th>
						<th scope="col">Time</th>
						<th scope="col">Status</th>
						<th scope="col">Nationality</th>
						<th scope="col">Points</th>
						<th scope="col"></th>
					</tr>
				</thead>
				<tbody ng-repeat="driver in driverC.raceResults">
					<tr ng-if="driver.Driver.driverId === seasonWinner.Driver.driverId" class="table-winner">
						<th scope="row"><i class="fas fa-trophy winner"></i>  {{driver.position}}</th>
						<td><a href="{{driver.Driver.url}}" target="_blank">{{driver.Driver.givenName}} {{driver.Driver.familyName}}</a></td>
						<td><a href="{{driver.Contructor.url}}" target="_blank">{{driver.Constructor.name}}</a></td>
						<td>{{driver.laps}}</td>
						<td>{{driver.Time.time}}</td>
						<td>{{driver.status}}</td>
						<td>{{driver.Driver.nationality}}</td>
						<td>{{driver.points}}</td>
						<td><button class="btn {{driverC.btnClass}} btn-collapse" data-toggle="collapse" data-target="#{{driver.Driver.givenName}}" ng-click="driverC.collapseClick(); driverC.requestDriverInfo(driver.Driver.driverId)" disabled='disabled'><i class="fas {{driverC.btnCollIcon}}"></i></button>
					</tr>
					<tr ng-if="driver.Driver.driverId !== seasonWinner.Driver.driverId">
						<th scope="row">{{driver.position}}</th>
						<td><a href="{{driver.Driver.url}}" target="_blank">{{driver.Driver.givenName}} {{driver.Driver.familyName}}</a></td>
						<td><a href="{{driver.Contructor.url}}" target="_blank">{{driver.Constructor.name}}</a></td>
						<td>{{driver.laps}}</td>
						<td>{{driver.Time.time}}</td>
						<td>{{driver.status}}</td>
						<td>{{driver.Driver.nationality}}</td>
						<td>{{driver.points}}</td>
						<td><button class="btn {{driverC.btnClass}} btn-collapse" data-toggle="collapse" data-target="#{{driver.Driver.givenName}}" ng-click="driverC.collapseClick(); driverC.requestDriverInfo(driver.Driver.driverId)" disabled='disabled'><i class="fas {{driverC.btnCollIcon}}"></i></button>
					</tr>
					<tr>

							<td class="no-td-padding"></td>
							<td class="no-td-padding" colspan="7">
								<div id="{{driver.Driver.givenName}}" class="driver-info collapse">
								<table class="table table-striped center" style="margin-top: 20px;" >
									<thead>
										<tr class="bg-success">
											<th colspan="5">{{driverC.driverDetails[0].driver.Driver.givenName}} {{driverC.driverDetails[0].driver.Driver.familyName}}</th>
										</tr>
										<tr class="bg-success">
											<th>Season</th>
											<th>Position</th>
											<th>Team</th>
											<th>Points</th>
											<th>Wins</th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="details in driverC.driverDetails track by $index" class="table-success">
											<td>{{details.season}}</td>
											<td>{{details.driver.position}}</td>
											<td>{{details.driver.Constructors[0].name}}</td>
											<td>{{details.driver.points}}</td>
											<td>{{details.driver.wins}}</td>
										</tr>
									</tbody>
								</table>
							</div>
							</td>
							<td class="no-td-padding"></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	</div>
	</div>
</div>
</div>
</body>
</html>
