<!DOCTYPE html>
<head id="head">
	<meta charset="utf-8"/>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
	<!-- chart.js LIB -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.js"></script>
	<!-- END -->

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.11/angular.min.js"></script>
	<script type="text/javascript" src="scripts/angular.js"></script>
	<script type="text/javascript" src="scripts/script.js"></script>

</head>
<body  ng-app="myApp" ng-controller="RequestController">
	<div id="bg"></div>

	<div class="container-fluid vert-center">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-3"></div>
			<div class="col-xs-12 col-sm-12 col-md-6 white-bg margin-bot">
				<div>
					<div>
						<select class="custom-select custom-select-lg mb-3" ng-model="selectedCity" ng-change="showSelectedCity(selectedCity, selectedUnit)" data-ng-init="showSelectedCity(selectedCity, selectedUnit)">
							<option ng-repeat="country in countries" value="{{country.id}}">{{country.name}}</option>
						</select>
						<!--<select ng-model="selectedUnit" ng-change="showSelectedCity(selectedCity, selectedUnit)">
						<option ng-repeat="unit in units" value="{{unit.type}}">{{unit.name}}</option>
					</select-->
					<div class="container-fluid units-form">
						<form class="btn-group row">
							<label ng-repeat="unit in units" class="radio-inline btn btn-primary {{unit.type}}">
								<input type="radio" name="unit" value="{{unit.type}}" ng-model="selectedUnit" ng-click="showSelectedCity(selectedCity, selectedUnit); toggle(selectedUnit);">{{unit.name}}
							</label>
						</form>
					</div>
					<div>
						<h1><span>{{cityData.name}}<img class="weather_icon" src="https://openweathermap.org/img/w/{{cityData.weather[0].icon}}.png"/> </span></h1>
						<h4>{{cityData.weather[0].main}} - {{cityData.weather[0].description}}</h4>
						<div class="row">
							<div class="col-xs-6 col-sm-6 col-md-6">
								<h3  ng-if="selectedUnit == 'metric'"><i class="fas fa-thermometer dark-blue"></i> Temperature: {{cityData.main.temp}} ºC <br>
									(min: {{cityData.main.temp_min}} Cº max: {{cityData.main.temp_max}} Cº avg: {{(cityData.main.temp_min + cityData.main.temp_max) / 2}} Cº)</h3>
								<h3 ng-if="selectedUnit == 'imperial'"><i class="fas fa-thermometer dark-blue"></i> Temperature: {{cityData.main.temp}} ºF <br>
									(min: {{cityData.main.temp_min}} Fº max: {{cityData.main.temp_max}} Fº avg: {{(cityData.main.temp_min + cityData.main.temp_max) / 2}} Fº)</h3>
								<h3>Humidity: {{cityData.main.humidity}}%</h3>
							</div>

							<div class="col-xs-6 col-sm-6 col-md-6">
								<h3 ng-if="selectedUnit == 'metric'"><i class="fas fa-wind dark-blue"></i> Wind: {{cityData.wind.speed}} m/s ( {{cityData.wind.deg}} )</h3>
								<h3 ng-if="selectedUnit == 'imperial'"><i class="fas fa-wind dark-blue"></i> Wind: {{cityData.wind.speed}} m/h ( {{cityData.wind.deg}} )</h3>
								<h3>Pressure: {{cityData.main.pressure}} hpa</h3>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-12 margin">
					<button class="btn btn-primary" data-toggle="collapse" data-target="#forecast"><i class="fas fa-angle-down"></i> Forecast <i class="fas fa-angle-down"></i></button>
				</div>
				<div id="forecast" class="col-12 collapse margin">
					<h1>{{cityData.name}}</h1>
					<div class="chart-container" style="position: relative; height:auto; width:100%;">
						<canvas id="myChart"></canvas>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-3"></div>
	</div>
</div>
</body>
</html>
