@media only screen and (max-width: 768px) {
  .max-width, .select-max-width {
    max-width: 100%!important;
  }

  .select-max-width {
    margin-top: 0px!important;
  }

  .modal-content {
    width:100%!important;
  }
  .table-font {
    font-size:10px!important;
  }
}
@media only screen and (max-width: 576px) {
  .row-65 {
    width:100%!important;
    max-width: 100%!important;
    margin:0!important;
  }
}

.modal-content i.close {
  position:absolute;
  right:20px;
}

.no-padding {
  padding-right:0!important;
}

td.no-td-padding  {
  padding: 0;
}

.modal-content {
  width:90%;
  margin-top: 5%;
  margin-bottom:5%;
  padding:2%;
}

.table-font {
  font-size: 12px;
}

.table-font button {
  font-size: 12px;
}

#bg {
  animation: login_background 30s infinite;
  background-size:cover;
  position: fixed;
  height:100%;
  width:100%;
  z-index: -1;
  opacity:0.7 ;
  /*animation:blur 2s;*/
}

.row-65 {
  width:65%;
  max-width: 400px;
  margin: 0 auto;
}

.max-width {
  max-width: 110px;
}

.select-max-width {
  max-width: 150px;
  margin-top: -7px;
  margin-bottom:5px;
}

.margin-bot {
  margin-bottom:20px;
}


.center {
  text-align: center;
}

.btn-primary {
  background-color: rgba(100,150,50, 1);
  border: 1px solid rgba(9,150,50, 1);
  outline: none;
  box-shadow: none;
}

.btn-primary:hover {
  background-color: rgba(9,150,50, 1)!important;
  border: 1px solid rgba(9,150,50, 1);
  outline: none;
  box-shadow: none;
}

.weather_icon {
  width: 30px;
  margin-top: -20px;
}

.margin {
  text-align: center;
  margin: 0 auto;
  margin-top:30px;
}

.dark-blue {
  font-size:15px;
  color:rgba(9,50,100, 1);
}

h3 {
  font-size:15px;
}

h4 {
  font-size:12px;
}

h2 {
  font-size:20px;
}

h1 {
  font-size:25px;
}





.active {
  background-color: rgba(9,50,100, 1)!important;
}

.units-form input {
  display:none;
}

.units-form label {
  margin-left: 15px;

}

.white-bg {
  background-color: rgba(255,255,255, 0.8);
  padding:30px 30px;
  border-radius: 20px;
}

.white-bg-opaque {
  background-color: rgba(255,255,255, 1);
  border-radius:20px;
}

.inline-block {
  display:inline-block;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.vert-center {
  position:absolute;
}

.winner {
  color: rgba(255,200,50,1);
}

.driver-info th, .driver-info td {
    border: 0px!important;
}

tr.table-winner > td, tr.table-winner > th {
  background-color: rgba(255,255,0,0.1);
}

.loading {
  z-index: 9999;
  display:none;
  height:100%;
  width:100%;
  position:fixed;
  border-radius:0; font-size:40px;
}

@keyframes blur {
  0%{
    filter: blur(300px)
  }

  100%{
    filter:blur(0px);
  }
}

@keyframes login_background {
  0% {
    background: url(../images/bg1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  10% {
    background: url(../images/bg1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter:blur(0px);
  }
  23% {
    background: url(../images/bg2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  33% {
    background: url(../images/bg2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  46% {
    background: url(../images/bg3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  56% {
    background: url(../images/bg3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  69% {
    background: url(../images/bg4.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  79% {
    background: url(../images/bg4.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  84% {
    background: url(../images/bg6.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  94% {
    background: url(../images/bg6.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  100% {
    background: url(../images/bg1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
