#bg {
  animation: login_background 30s infinite;
  background-size:cover;
  position: fixed;
  height:100%;
  width:100%;
  z-index: -1;
  opacity:0.7 ;
  /*animation:blur 2s;*/
}

.margin-bot {
  margin-bottom:5%;
}


.units-form {
  text-align: center;
  margin-bottom:20px;
}

.btn-primary {
  background-color: rgba(100,150,200, 1);
  border: 1px solid rgba(9,50,100, 1);
  outline: none;
  box-shadow: none;
}

.weather_icon {
  width: 30px;
  margin-top: -20px;
}

.margin {
  text-align: center;
  margin: 0 auto;
  margin-top:30px;
}

.dark-blue {
  font-size:15px;
  color:rgba(9,50,100, 1);
}

h3 {
  font-size:15px;
}

h4 {
  font-size:12px;
}

h1 {
  font-size:30px;
}

.btn-primary.active {
  border: 1px solid rgba(9,50,100, 1)!important;
}

.btn-primary:hover {
  background-color: rgba(9,50,100, 1);
  border: 1px solid rgba(9,50,100, 1)!important;

  outline: none!important;
  box-shadow: none!important;
}

.active {
  background-color: rgba(9,50,100, 1)!important;
}

.units-form input {
  display:none;
}

.units-form label {
  margin-left: 15px;

}
.not-active {
  background:yellow;
}

.white-bg {
  background-color: rgba(255,255,255);
  padding:30px 30px;
  border-radius: 20px;
}

.inline-block {
  display:inline-block;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.vert-center {
  position:absolute;
}

@keyframes blur {
  0%{
    filter: blur(300px)
  }

  100%{
    filter:blur(0px);
  }
}

@keyframes login_background {
  0% {
    background: url(../images/bg1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  10% {
    background: url(../images/bg1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter:blur(0px);
  }
  23% {
    background: url(../images/bg2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  33% {
    background: url(../images/bg2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  46% {
    background: url(../images/bg3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  56% {
    background: url(../images/bg3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  69% {
    background: url(../images/bg4.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  79% {
    background: url(../images/bg4.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  84% {
    background: url(../images/bg6.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  94% {
    background: url(../images/bg6.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  100% {
    background: url(../images/bg1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
